*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-container{
    background-color: #1A1B21;
    height: 15vh;
}

.about{
    position: relative;
    left: 35px;
    padding-top: 15px;
    color: #F5F5F5;
}

.about-content{
    position: relative;
    left: 55px;
    font-size: 10px;
    color: #DCDCDC;
    max-width: 260px;
    padding-top: 5px;
}