* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #23252c;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 45px;
  /* padding-left: 100px; */
  
}

.container-sub {
  width: 400px;
}
